<%- include("layouts/header") -%>





<h1>This is a massage from Home.</h1>

<% for(let i = 0; i < blogs.length; i++) {%>
    <p><%= blogs[i] %> </p> <br>
<% } %> 






<%- include("layouts/footer") -%>
